.table-add-0,
.table-add-0 > th,
.table-add-0 > td {
    background-color: #d8bdf8;
}

.table-add-0 th,
.table-add-0 td,
.table-add-0 thead th,
.table-add-0 tbody + tbody {
    border-color: #7abaff;
}

.table-add-1,
.table-add-1 > th,
.table-add-1 > td {
    background-color: #ffc2ef;
}

.table-add-1 th,
.table-add-1 td,
.table-add-1 thead th,
.table-add-1 tbody + tbody {
    border-color: #7abaff;
}

.table-add-2,
.table-add-2 > th,
.table-add-2 > td {
    background-color: #c4ffec;
}

.table-add-2 th,
.table-add-2 td,
.table-add-2 thead th,
.table-add-2 tbody + tbody {
    border-color: #7abaff;
}

.table-add-3,
.table-add-3 > th,
.table-add-3 > td {
    background-color: #ffd2a4;
}

.table-add-3 th,
.table-add-3 td,
.table-add-3 thead th,
.table-add-3 tbody + tbody {
    border-color: #7abaff;
}

.jumbotron {
    padding:0px !important;
    padding-top: 20px !important;
}

.table th{
    height: 35px;
}

.table-custom-style {
    font-family: "Consolas";
}

.table-cell-align-center{
    text-align: center;
    font-size: large;
}

.list-group-item
{
    min-width: 90px;
    padding: 6px 12px;
}

.list-group-outer-padding
{
    padding-left: 0px;
}
